# Database credentials
DB_HOST={{ projectName }}_mysql_1
DB_DATABASE={{ projectName }}
DB_USERNAME={{ projectName }}_u
DB_PASSWORD={{ projectName }}_p
DB_PORT=3306

# This variable is checked by Shopware
DATABASE_URL=mysql://${DB_USERNAME}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_DATABASE}

# Shop URL for initial shop configuration
SHOP_URL=https://{{ projectName }}.local/

# Environment and Shopware Version
SHOPWARE_ENV="dev"
SHOPWARE_VERSION=5.4.0
SHOPWARE_VERSION_TEXT=DEV
SHOPWARE_REVISION=201808164711

# Username and password for the initial admin account
# This info will be populated into the database during initial installation.
# After that, it can (and should) be removed from this .env file
ADMIN_EMAIL={{ projectName }}@next-levels.de
ADMIN_NAME="{{ projectName }} User"
ADMIN_USERNAME={{ projectName }}_adm
ADMIN_PASSWORD={{ projectName }}1234

# Import demodata during initial shop installation
IMPORT_DEMODATA=false
