<?php
return [
    'db' => [
        'username' => '{{ projectName }}_u',
        'password' => '{{ projectName }}_p',
        'dbname'   => '{{ projectName }}',
        'host'     => '{{ projectName }}_mysql_1',
        'port'     => '3306'
    ]
];
