version: '3'

services:
  php-fpm:
    container_name: {{ projectName }}_php-fpm
    build:
      context: ./vendor/nextlevels/laradock/php-fpm
      args:
        - PHP_VERSION=7.4
        - INSTALL_XDEBUG=false
        - XDEBUG_HOST=dockerhost
        - INSTALL_SOAP=false
        - INSTALL_ZIP_ARCHIVE={{ zip }}
        - INSTALL_OPCACHE=false
        - INSTALL_APCU=false
        - INSTALL_MYSQLI={{ mysqli }}
        - INSTALL_IMAGE_OPTIMIZERS=false
        - INSTALL_IMAGEMAGICK=false
        - INSTALL_MYSQL_CLIENT=false
    volumes:
      - ./:/var/www:cached
    expose:
      - "9000"
    extra_hosts:
      - "dockerhost:10.0.75.1"
    environment:
      - PHP_IDE_CONFIG=serverName={{ projectName|replace({'_': '-'}) }}.local
    links:
      - mariadb
    networks:
      - backend

  nginx:
    container_name: {{ projectName }}_nginx
    build:
      context: ./vendor/nextlevels/laradock/nginx
      args:
        - PHP_UPSTREAM_CONTAINER=php-fpm
        - PHP_UPSTREAM_PORT=9000
    volumes:
      - ./docker/logs/nginx/:/var/log/nginx
      - ./vendor/nextlevels/laradock/nginx/sites/:/etc/nginx/sites-available
      - ./vendor/nextlevels/laradock/nginx/ssl/:/etc/nginx/ssl
      - ./:/var/www:cached
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - php-fpm
    networks:
      - frontend
      - backend

  apache2:
    container_name: {{ projectName }}_apache2
    build:
      context: ./vendor/nextlevels/laradock/apache2
      args:
        - PHP_UPSTREAM_CONTAINER=php-fpm
        - PHP_UPSTREAM_PORT=9000
        - PHP_UPSTREAM_TIMEOUT=600
        - DOCUMENT_ROOT=/var/www/web/{{ rootPath }}
        - USE_ARM=false
    volumes:
      - ./docker/logs/apache2/:/var/log/apache2
      - ./vendor/nextlevels/laradock/apache2/sites/:/etc/apache2/sites-available
      - ./:/var/www:cached
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - php-fpm
    networks:
      - frontend
      - backend

  mysql:
    container_name: {{ projectName }}_mysql
    build:
      context: ./vendor/nextlevels/laradock/mysql
      args:
        - MYSQL_VERSION=5.7
    environment:
      - MYSQL_DATABASE={{ projectName }}
      - MYSQL_USER={{ projectName }}_u
      - MYSQL_PASSWORD={{ projectName }}_p
      - MYSQL_ROOT_PASSWORD=root
      - TZ=UTC
    volumes:
      - ./data/database.sql:/docker-entrypoint-initdb.d/database.sql
      - ./docker/data/mysql:/var/lib/mysql
    ports:
      - "3306:3306"
    networks:
      - backend

  mariadb:
    container_name: {{ projectName }}_mariadb
    build:
      context: ./vendor/nextlevels/laradock/mariadb
      args:
        - http_proxy
        - https_proxy
        - no_proxy
        - MARIADB_VERSION=latest
    volumes:
      - ./docker/data/mariadb:/var/lib/mysql
      - ./data/database.sql:/docker-entrypoint-initdb.d/database.sql
    ports:
      - "3306:3306"
    environment:
      - MYSQL_DATABASE={{ projectName }}
      - MYSQL_USER={{ projectName }}_u
      - MYSQL_PASSWORD={{ projectName }}_p
      - MYSQL_ROOT_PASSWORD=root
      - TZ=UTC
    networks:
      - backend

  mailhog:
    container_name: {{ projectName }}_mailhog
    build: ./vendor/nextlevels/laradock/mailhog
    ports:
      - "1025:1025"
      - "8025:8025"
    networks:
      - frontend
      - backend

networks:
  frontend:
    driver: bridge
  backend:
    driver: bridge

volumes:
  mysql:
    driver: local