description = "Base layout"
==
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <title>Base Package Theme - {{ this.page.title }}</title>
    <meta name="description" content="{{ this.page.meta_description }}">
    <meta name="title" content="{{ this.page.meta_title }}">
    <meta name="author" content="NextLevels">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="generator" content="base_package_theme">
    <link rel="icon" type="image/png" href="favicon.ico">
    <link rel="stylesheet" href="{{ 'assets/css/app.css'|theme }}">
    {% styles %}
</head>
<body>

{% page %}

<!-- Scripts -->
<script src="{{ 'assets/js/dist/app.js'|theme }}"></script>
{% framework extras %}
{% scripts %}
</body>
</html>