title = "Base Package Theme"
url = "/"
layout = "default"
==
<div id="header" class="uk-section uk-background-cover uk-background-blend-soft-light uk-background-secondary uk-section-xlarge" uk-parallax="bgy: -50" style="background-image: url({{ 'assets/images/hero_example_image.jpeg'|theme }});">
    <div class="uk-position-top">
        {% partial 'navigation' %}
    </div>
    <div id="hero-heading" class="uk-container uk-light">
        <h2 class="uk-heading-hero uk-animation-fade uk-animation-slide-left-small">Base Package Theme</h2>
    </div>
</div>

<div id="page-intro" class="uk-section">
    <div class="uk-container">
        <div class="uk-grid-match uk-child-width-1-3@m" uk-grid>
            <div>
                <h3>Seiten Inhalt</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
            </div>
            <div>
                <h3>Seiten Inhalt</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
            </div>
            <div>
                <h3>Seiten Inhalt</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
            </div>
        </div>
    </div>
</div>

<div id="blog-example" class="uk-section uk-section-muted">
    <div class="uk-container">
        <h2>Blog Beiträge Beispiel</h2>

        <div class="uk-grid-match uk-child-width-1-3@m" uk-grid>
            <div class="">
                <article class="uk-article uk-card uk-card-default uk-card-hover uk-card-body">
                    <h3 class="uk-card-title"><a class="uk-link-reset" href="">Heading #1</a></h3>
                    <p class="uk-article-meta">Geschrieben von <a href="#">Mike Straczek</a> am 01 März 2018. Kategorie: <a href="#">Blog</a></p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
                    <div class="uk-grid-small uk-child-width-auto" uk-grid>
                        <div>
                            <a class="uk-button uk-button-text" href="#">Weiterlesen</a>
                        </div>
                        <div>
                            <a class="uk-button uk-button-text" href="#">5 Kommentare</a>
                        </div>
                    </div>
                </article>
            </div>
            <div class="">
                <article class="uk-article uk-card uk-card-default uk-card-hover uk-card-body">
                    <h3 class="uk-card-title"><a class="uk-link-reset" href="">Heading #2</a></h3>
                    <p class="uk-article-meta">Geschrieben von <a href="#">Mike Straczek</a> am 01 März 2018. Kategorie: <a href="#">Blog</a></p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
                    <div class="uk-grid-small uk-child-width-auto" uk-grid>
                        <div>
                            <a class="uk-button uk-button-text" href="#">Weiterlesen</a>
                        </div>
                        <div>
                            <a class="uk-button uk-button-text" href="#">5 Kommentare</a>
                        </div>
                    </div>
                </article>
            </div>
            <div class="">
                <article class="uk-article uk-card uk-card-default uk-card-hover uk-card-body">
                    <h3 class="uk-card-title"><a class="uk-link-reset" href="">Heading 3#</a></h3>
                    <p class="uk-article-meta">Geschrieben von <a href="#">Mike Straczek</a> am 01 März 2018. Kategorie: <a href="#">Blog</a></p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
                    <div class="uk-grid-small uk-child-width-auto" uk-grid>
                        <div>
                            <a class="uk-button uk-button-text" href="#">Weiterlesen</a>
                        </div>
                        <div>
                            <a class="uk-button uk-button-text" href="#">5 Kommentare</a>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>

<div class="uk-section uk-section-secondary uk-section-large">
    <div class="uk-container">
        <h3>Footer</h3>
        <div class="uk-grid-match uk-child-width-1-3@m" uk-grid>
            <div>
                <ul class="uk-nav">
                    <li><a href="#">Impressum</a></li>
                    <li><a href="#">Datenschutz</a></li>
                    <li><a href="#">Kontakt</a></li>
                </ul>
            </div>
            <div>
                <ul class="uk-nav">
                    <li><a href="#">Impressum</a></li>
                    <li><a href="#">Datenschutz</a></li>
                    <li><a href="#">Kontakt</a></li>
                </ul>
            </div>
            <div>
                <ul class="uk-nav">
                    <li class="uk-active"><a href="#">Impressum</a></li>
                    <li><a href="#">Datenschutz</a></li>
                    <li><a href="#">Kontakt</a></li>
                </ul>
            </div>
        </div>

        <a href="#header" class="uk-position-medium uk-position-bottom-right" uk-totop="ratio: 2" uk-scroll></a>
    </div>
</div>