ip: 192.168.10.10
memory: 1024
cpus: 2
provider: virtualbox

folders:
    -
        map: ./web
        to: /home/vagrant/{{ projectName }}
        type: "nfs"

sites:
    -
        map: {{ projectName|replace({'_': '-'}) }}.local
        to: /home/vagrant/{{ projectName }}/
        type: "apache"
        php: "7.3"
databases:
    - {{ projectName }}
name: {{ projectName }}
hostname: {{ projectName|replace({'_': '-'}) }}.local
