plugin:
    name: nextlevels.{{ projectName|replace({'_': ''}) }}::lang.plugin.name
    description: nextlevels.{{ projectName|replace({'_': ''}) }}::lang.plugin.description
    author: 'Next Levels GmbH'
    icon: oc-icon-cubes
    homepage: 'https://next-levels.de/'
