APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:v6j2QraWT4WEKEsGWzfLmkNRCRj4DR0XKIzyfXa8b+Q=
APP_DEBUG=true
APP_LOG_LEVEL=debug
APP_URL=http://docker.local/

DB_CONNECTION=mysql
DB_HOST={{ projectName }}_mysql_1
DB_PORT=3306
DB_DATABASE={{ projectName }}
DB_USERNAME={{ projectName }}_u
DB_PASSWORD={{ projectName }}_p

BROADCAST_DRIVER=log
CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
